Guía de python

Mi primer Hola Mundo

In [1]:
print('hola mundo')

hola mundo

# Comentarios en python

In [ ]:
print('hola mundo') #comentario

'''
Comentario de varias lineas
'''

""" Comentario"""

hola mundo

## variables
Son valores que se almacenan en la memoria.

### reglas de variables
#### Deben comenzar con una letra o un guion bajo
#### No pueden comenzar con un numero
#### Solo pueden contener caracteres alfanumericos
#### Son sensibles a las mayus y minus

In [ ]:
nombre = 'Juan'
edad_usuario = 25
_contador = 0
valorTotal = 100.5

# Tipos de datos

In [6]:
#Enteros o int
edad = 25
cantidad_estudiantes = -10

#Flotantes o float
altura = 1.75
temperatura = -10.5

#verificar tipos
print(type(edad)) #<class 'int'>
print(type(altura)) #<class 'float'>

<class 'int'>
<class 'float'>

In [5]:
#convertir
a = 10
b = float(a)
print(type(a)) #<class 'int'>
print(type(b)) #<class 'float'>

<class 'int'>
<class 'float'>

In [ ]:
suma = 10 + 5
resta = 10 - 5
multiplicacion = 10 * 5
division = 10 / 5
division_entera = 10 // 3 #division entera
modulo = 10 % 3 #residuo de la division
potencia = 10 ** 3 #potencia
suma

15

In [ ]:
#Strings o cadenas de texto
nombre = 'Juan'
apellido = "Pérez"
frase = 'Hola, soy Juan Pérez y tengo 25 años'
otra_frase = "Hola, soy Juan Pérez y tengo 25 años"

persona = nombre + ' ' + apellido
persona

'Juan Pérez'

In [10]:
nombre = 'Juan' * 3
print(nombre) #JuanJuanJuan

JuanJuanJuan

In [12]:
#Acceso a caracteres
print(nombre[0]) #J
print(nombre[-1]) #n

#slicing
print(nombre[0:2]) #Ju

J
n
Ju

In [13]:
len(nombre)

12

In [14]:
nombre.upper() #convierte a mayusculas

'JUANJUANJUAN'

In [17]:
nombre = nombre.lower()
nombre

'juanjuanjuan'

In [18]:
nombre = 'Juan'
nombre.capitalize() #convierte la primera letra a mayuscula

'Juan'

In [19]:
reemplazo = 'hola mundo'.replace('mundo', 'Juan')
reemplazo

'hola Juan'

In [20]:
#verificar si existe una subcadena
contiene = 'hola' in 'hola mundo'
contiene

True

### Valores booleanos (bool)

In [21]:
es_estudiante = True
tiene_permiso = False
es_estudiante

True

In [25]:
si_llueve_en_sevilla = True and False #False
print(si_llueve_en_sevilla)
si_llueve_en_sevilla = True or False #True
print(si_llueve_en_sevilla)
si_llueve_en_sevilla = not True #False
print(si_llueve_en_sevilla)

False
True
False

In [27]:
mayor = 10 > 3 #True
mayor

True

In [28]:
menor = 10 < 3 #False
menor

False

In [29]:
igual = 10 == 10 #True
igual

True

In [30]:
diferente = 10 != 10 #False
diferente

False

In [31]:
diferente = 10 != 11 #True
diferente

True

In [32]:
mayor_igual = 10 >= 10 #True
mayor_igual

True

In [33]:
menor_igual = 10 <= 10 #True
menor_igual

True

In [34]:
#verificación
es_entero = isinstance(10, int) #True
es_entero

True

In [37]:
es_flotante = isinstance(10, float) #True
es_flotante

False

### Operadores

In [38]:
a = 10
b = 3

In [39]:
suma = a + b #suma
suma

13

In [40]:
division = a / b #division
division

3.3333333333333335

In [43]:
resultados = (2 + 3) * 4

In [44]:
resultados

20

In [45]:
def suma(a, b):
    return a + b

In [52]:
a = 5
b = 10

In [53]:
igualdad = a == b
diferente = a != b
mayor = a > b
menor = a < b
mayor_igual = a >= b
menor_igual = a <= b

#comparación concatenada
en_rango = 1 < a < 10

In [54]:
en_rango

True

### Estructuras de control
Condicionales : if, elif, else

In [55]:
edad = 19

if edad >= 18:
    print('Eres mayor de edad') #Eres mayor de edad
elif edad == 17:
    print('Eres un adolescente') #Eres un adolescente
else:
    print('Eres menor de edad') #Eres menor de edad

Eres mayor de edad

In [57]:
temperatura = 15
if temperatura > 25:
    print('Hace calor')
else:
    print('No hace calor')

No hace calor

In [58]:
nota = 85

if nota >= 90:
    print('La nota es sobresaliente')
elif nota >= 80:
    print('La nota es notable')
elif nota >= 70:
    print('La nota es bien')
elif nota >= 60:    
    print('La nota es suficiente')
else:
    print('La nota es insuficiente')

La nota es notable

In [59]:
#anidar un condicional

usuario_activo = True
es_admin = False

if usuario_activo:
    print('Bienvenido al sistema')
    if es_admin:
        print('EresTienes permisos de administrador')
    else:
        print('No tienes permisos de administrador')
else:
    print('Usuario inactivo')

Bienvenido al sistema
No tienes permisos de administrador

### Bucles

In [60]:
frutas = ['manzana', 'banana', 'naranja']

In [61]:
for fruta in frutas:
    print(fruta) #manzana, banana, naranja

manzana
banana
naranja

In [62]:
for letra in 'python':
    print(letra) #p, y, t, h, o, n

p
y
t
h
o
n

In [63]:
for i in range(10):
    print(i) #0, 1, 2, 3, 4

0
1
2
3
4
5
6
7
8
9

In [64]:
for i in range(2,10,2):
    print(i) #2, 4, 6, 8

2
4
6
8

In [66]:
for letra in 'py th on':
    if letra == 'y':
        print(letra.upper()) #P
    else:
        print(letra)

p
Y

t
h

o
n

In [67]:
for i in range(9, -1, -1):
    print(i)

9
8
7
6
5
4
3
2
1
0

In [68]:
for i in range(10):
    print(9 - i)

9
8
7
6
5
4
3
2
1
0

In [69]:
numeros = range(10)
for i in numeros[::-1]:
    print(i) #0, 1, 2, 3, 4, 5, 6, 7, 8, 9

9
8
7
6
5
4
3
2
1
0

### while

In [70]:
contador = 0
while contador < 10:    
    print(contador) #0, 1, 2, 3, 4, 5, 6, 7, 8, 9
    contador += 1 #incrementar el contador

0
1
2
3
4
5
6
7
8
9

In [77]:
x = 0
y = 10

while x < 5 and y > 0:
    print(f"x = {x}, y = {y}")
    x += 1
    y -= 2

x = 0, y = 10
x = 1, y = 8
x = 2, y = 6
x = 3, y = 4
x = 4, y = 2

In [76]:
contador = 0
while True:
    print(contador) #0, 1, 2, 3, 4, 5, 6, 7, 8, 9
    contador += 1 #incrementar el contador
    if contador >= 5:
        break

0
1
2
3
4

In [80]:
numeros = [1, 2, 3, 4, 5] #tambien llamado array multi-dimensión o array de 1 dimensión o lista de 1 dimensión o lista de 1D o lista unidimensional

In [83]:
cuadrados =  [n**2 for n in numeros] #comprensión de listas
# numero**2 for numero in numeros

In [85]:
for numero in numeros:
    print(numero**2)

1
4
9
16
25

In [86]:
cuadrados

[1, 4, 9, 16, 25]

In [ ]:
pares = [numero for numero in numeros if numero % 2 == 0] #comprensión de listas
pares
# porcadaelemento que haya en numeros si cadaelemento tiene resto 0

[2, 4]

In [88]:
pares =[]
for numero in numeros:
    if numero % 2 == 0:
        pares.append(numero)
print(pares) #2, 4

[2, 4]

In [94]:
lista_vacia = [] #lista vacia
lista_numeros = [1, 2, 3, 4, 5] #lista de numeros
lista_cadenas = ['hola', 'mundo'] #lista de cadenas de texto
lista_mixta = [1, 2.5,'hola',True, [1,2,3], (1,2),{1:'uno', 2:'dos'}] #lista mixta                  
lista_anidada = [1, 2, [3, 4], 5] #lista anidada

In [105]:
lista_mixta[4][2]

3

In [98]:
numeros.append(6) #agregar un elemento al final de la lista

In [99]:
numeros

[1, 2, 3, 4, 5, 6]

In [101]:
numeros.insert(0, 6) #insertar un elemento en la posición 0 de la lista
numeros

[6, 0, 1, 2, 3, 4, 5, 6]

In [102]:
numeros.extend([7, 8, 9]) #agregar varios elementos al final de la lista
numeros

[6, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [103]:
numeros.pop() #eliminar el último elemento de la lista
numeros

[6, 0, 1, 2, 3, 4, 5, 6, 7, 8]

In [104]:
numeros.remove(2)   #eliminar el primer elemento que coincida con el valor 2 de la lista
numeros

[6, 0, 1, 3, 4, 5, 6, 7, 8]

In [106]:
numeros_2 = [1,2,3,4,5,5,5,3,2,1]

In [107]:
numeros_2.count(5)

3

In [108]:
numeros_2.sort() #ordenar la lista de menor a mayor
numeros_2

[1, 1, 2, 2, 3, 3, 4, 5, 5, 5]

In [109]:
numeros_2.sort(reverse=True) #ordenar la lista de mayor a menor
numeros_2

[5, 5, 5, 4, 3, 3, 2, 2, 1, 1]

In [110]:
numeros_2.reverse() #invertir el orden de la lista
numeros_2

[1, 1, 2, 2, 3, 3, 4, 5, 5, 5]

In [111]:
copia = numeros_2.copy() #copiar la lista
copia

[1, 1, 2, 2, 3, 3, 4, 5, 5, 5]

In [112]:
copia.clear() #limpiar la lista
copia

[]